<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {{> header}}
    <table>
        <tr>
            <th>Name</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Daniel Okah</td>
            <td>Daniel Amphani</td>
        </tr>
    </table>
    {{> footer}}
</body>
</html>