<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>
<body>
    {{> header}}
    <div style="padding: 5px; background-color:rgb(88, 168, 99)">
        <h1>This is {{screamIt pageTitle}}</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde provident ipsum obcaecati ut, nobis aliquam atque aut non quos ex et architecto delectus, nam nisi animi, officiis sint magnam quidem.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde provident ipsum obcaecati ut, nobis aliquam atque aut non quos ex et architecto delectus, nam nisi animi, officiis sint magnam quidem.</p>
    </div>

{{> footer}}
</body>
</html>